<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
      body {
        margin: 0;
        font-family: sans-serif;
        color: #2d2e32;
      }

      p {
        line-height: 1.7;
      }

      .container {
        width: 600px;
        margin: 0 auto;
        background: white;
        padding-top: 60px;
      }

      .logo {
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }

      .logo img {
        height: 40px;
        margin: 0 auto;
      }

      .link {
        display: block;
        margin-top: 30px;
        color: rgb(206, 220, 33);
        text-decoration: none;
      }

      hr {
        border-color: whitesmoke;
        margin-bottom: 30px;
      }

      .confirm-container {
        display: flex;
        justify-content: flex-end;
      }

      .confirm {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        margin: 40px 0;
        text-decoration: none;
        border-radius: 30px;
        padding: 0.8rem 1.5rem !important;
        color: #444444;
        font-weight: bold;
        background: rgb(143, 238, 245);
        background: linear-gradient(
          90deg,
          rgba(143, 238, 245, 1) 0%,
          rgba(127, 228, 235, 1) 50%,
          rgba(110, 216, 224, 1) 100%
        );
        border: 0px solid white;
      }

      .footer p {
        font-size: 13px;
      }

      .footer .social {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
      }

      .footer .social a {
        margin-right: 20px;
      }

      .footer .visit {
        color: #2d2e32;
        font-size: 13px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="logo">
        <img src="https://junglelab.io/raretoshi.png" />
      </div>
      <p>Hi <%= artistName %></p>
      <p>
        Your artist application has been approved! Please take the time to read
        the ‘<a href="https://junglelab.io/guide">JungleLab Quick Guide</a>’ document to help guide you through the
        minting process on the platform.
      </p>
      <p>
        A reminder that Junglelab is a curated digital and physical asset
        marketplace, and thus, there are a few requirements for digital pieces:
      </p>
      <ul>
        <li>
          Artistry has some relation to Bitcoin artist (e.g., p2p, cypherpunk, BTC
          memes, Liquid, Lightning, Music, Audio, Art etc.)
        </li>
        <li>No nudity or profanity</li>
        <li>High quality mint (JungleLab allows for up to 400MB)</li>
      </ul>
      <p>
        You can read the full Terms & Conditions
        <a href="https://junglelab.io/terms-and-conditions">here</a>. These
        guidelines help us prevent spam and create a family-friendly environment
        for all hodlers to enjoy.
      </p>
      <p>
        If you have any questions or specific issues, you can email us at
        <a href="mailto:support@junglelab.io">support@junglelab.io</a> or find
        us on the
        <a href="https://t.me/eskyjunglelab">Junglelab Telegram</a>
      </p>
      <p>Good luck in your artistic endeavors, and happy minting!</p>
      <p>Best, <br />JungleLab Team</p>
      <hr />
      <div class="footer">
        <p>Follow Us</p>
        <div class="social">
          <a href="https://twitter.com/junglelab_io">
            <img style="width: 20px" src="https://junglelab.io/twitter.png" />
          </a>
          <a href="https://t.me/eskyjunglelab">
            <img style="width: 20px" src="https://junglelab.io/telegram.png" />
          </a>
        </div>
        <a class="visit" href="https://junglelab.io">Visit website</a>
        <p>© JungleLabᵀᴹ 2022</p>
      </div>
    </div>
  </body>
</html>
