@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter', sans-serif;
  font-weight: thin 100;
  src: url("/font/Inter-Thin.ttf") format("opentype");
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-weight: black 900;
  src: url("/font/Inter-Black.ttf") format("opentype");
}

@font-face {
  font-family: OpenSans;
  font-weight: normal;
  src: url("/font/OpenSans-Regular.ttf") format("opentype");
}

@font-face {
  font-family: OpenSans;
  font-weight: bold;
  src: url("/font/OpenSans-Bold.ttf") format("opentype");
}

body {
  font-family: OpenSans, system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */ "Segoe UI", Roboto,
    Inter-Thin, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #2d2e32;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

h1,
h2,
h3 {
  font-family: Inter-Black, Inter-Thin, Arial, sans-serif;
  color: #2d2e32;
  font-weight: bold;
}

/* Mobile Phones */
h1 {
  font-size: 48px;
  line-height: 52px;
}

h2 {
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-size: 26px;
  line-height: 30px;
}

.dark-bg {
  background-color: #445268;
  color: #f4f4f4;
}

/* Big Screen  desktops */
@media (min-width: 768px) {
  h1 {
    font-size: 90px;
    line-height: 100px;
  }

  h2 {
    font-size: 48px;
    line-height: 52px;
  }

  h3 {
    font-size: 32px;
    line-height: 40px;
  }
}

/**
Brand Colors
*/

/* Light blue — Primary accent color */
.text-lightblue {
  color: #2d2e32;
}
.bg-lightblue {
  background: #43470b;
}

.border-lightblue {
  border-bottom: 1px solid #ff9800;
}

.text-midblue {
  color: #43470b;
}

/*Light blue gradient — Gradient accent color */
.lightblue-grad {
  background: #ff9800;
  background: linear-gradient(90deg, #ccff00 0%, #ff9800 50%, #ff9800 100%);
}

/*Logo gradient — Gradient for logo or other small applications */
.logo-grad {
  background: #ccff00;
  background: linear-gradient(90deg, #ccff00 0%, #ccff00 50%);
}

/**
Buttons 
*/

button {
  width: 100%;
}

.primary-btn {
  border-radius: 30px;
  height: 48px;
  padding: 5px 15px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #43470b;
  font-weight: bold;
  background: rgba(255, 153, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 153, 0) 0%,
    rgba(255, 157, 0) 50%,
    rgba(255, 153, 0) 100%
  );
}

.secondary-btn,
.button-transparent {
  border-radius: 30px;
  border: 1px solid #ff9800;
  color: #43470b;
  height: 48px;
  padding: 0 30px;
  font-weight: 700;
  background: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-btn:hover {
  border: 1px solid #43470b;
  color: #43470b;
}

.button-trans-gray {
  border-radius: 30px;
  padding: 0.7rem 1.5rem !important;
  color: white;
  font-weight: bold;
  background: none;
  border: 1px solid gray;
}

@media (min-width: 768px) {
  button {
    width: auto;
  }
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}
.boxShadow {
  box-shadow: 0 1px 3px rgb(0 0 0 / 18%);
}

.secondary-color {
  color: #ff8b00;
}

.brand-color {
  background: #ff8b00;
}

.button-trans-gray {
  background-color: none;
  border: 1px solid gray !important;
  color: white;
}

button:focus,
select:focus {
  outline: none;
}

button:hover {
  color: #43470bd2;
}

.sub-title {
  font-weight: bold;
  font-size: 20px;
  color: rgba(255, 152, 0);
}

.box-shadow {
  box-shadow: 1px 0px 5px 0px #cbcbcb;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255);
  box-shadow: 0px 0px 5px 0px #cbcbcb;
  z-index: 300;
}

.footer ul li a {
  font-size: 16px;
}

.dark:text-white

// main.css
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111111;
    --text-color: #ffffff;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

// main-dark.css
:root {
  --bg-color: #111111;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}